body{
  background-image: url(http://miajadas.masportales.es/usrs/empresas/9e77381e46684c651878e24cd7d105bf.png);
  background-size: 450px 107px;

}

#box1{
display:block;
background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/143/775/small/vector-prisma-background.jpg);
background-size:cover;
text-align:center;
height:600px;
width:600px;
margin-left:auto;
margin-right:auto;
border: 2px solid #333;
}

#box2, #box3, #box4{
display:none;
background-image: url(https://static.vecteezy.com/system/resources/thumbnails/000/143/775/small/vector-prisma-background.jpg);
background-size:cover;
text-align:center;
height:600px;
width:600px;
margin-left:auto;
margin-right:auto;
border: 2px solid #333;
} 

#btn_ingresar, #btn_encode, #btn_decode, #btn_msje_1, #btn_end, #btn_msje_2, #btn_endd {
background-color: transparent;
border-color:rgb(0, 2, 3);
color:rgb(82, 8, 8);
font-size: 12px;
font-weight: bold;
cursor:pointer;
padding: 6px;
width: 80px;  
height: 40px; 
}

.footer{
  background-color: #cc3300; 
  height:80px; 
  width:600px;
  bottom: 26px;
  position: fixed;
}

.head{
  font-size: 36px;
  font-style: oblique;
  background-color:#ffad33;
  color: white;
  text-align:center;
  height:45px;
}

.tittleFooter{
  font-size: 18px;
  font-weight:bold;
  text-align: left;
  color: white;
}

.note{
  font-size: 18px;
  font-style: Italic;
  text-align: left;
  color: white;
}
#nombre{
  font-size: 14px;
  width: 250px;
  height:50px;
  border: 2px solid #333;
}
#tittle{
  color: aliceblue;
  font-style: Italic;
  font-size: 23px;
}

#offset{
  font-size: 14px;
  width: 70px;
  height:30px;
  border: 2px solid #333;
}

#codificar{
  font-size: 14px;
  border: 2px solid #333;
  margin: 5px;
  width: 250px;
  height: 50px;
}

#decodificar{
  font-size: 12px;
  border: 2px solid #333;
  margin: 5px;
  width: 250px;
  height: 50px;
}

#ttoffs{
  color: aliceblue;
  font-style: Italic;
  font-size: 18px;  
}

#name_user{
  color: aliceblue;
  font-style: Italic;
  font-size: 25px;  
}

#desicion{
  font-size: 18px;
}

/*#tooltip-left{
  position: relative;
  background: #F2D1C9;
  border-radius: 9px;
  padding: 0 20px;
  margin: 10px;

  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: default;
  
}

#tooltip{
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  width: 100%;
  padding: 0 20px;
  background: #333;
  color: #E086D3;
  position: absolute;
  top: -140%;
  left: -25%;
  border-radius: 9px;
  font: 16px;
  
  transform: translate(9px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0  3px rgba(56, 54, 54, 0, 0.86);
}
*/